# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# artifacts
/out/

# production
pnpm-lock.yaml
/dist

# misc
.DS_Store
*.pem

# debug
/debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
axiom-quickstart

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts

/cache
.vscode
.axiom
